<%- include('partials/header.ejs') %> 
    <div class="container">
        <h1 class="display-1 text-center">Landing Page!</h1>
        <h2 class="display-2 text-center">Welcome to YelpCamp!!</h2>
        <a class="btn btn-success btn-lg btn-block" href="/campgrounds">Go to Campgrounds!</a>
    </div>  
<%- include('partials/footer.ejs') %> 